/*
#7FB7BE
#D3F3EE
#DACC3E
#BC2C1A
#7D1538


*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.welcomeMain{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome{
    color: rgb(61, 22, 61);
    text-align:center;
  
    font-size: 3em;
}
.welcome2{
    margin: 2em 0;
    color: rgb(61, 22, 61);
    text-align:center;
    
    font-size: 1.5em;
}
.boton:hover{
    color: #7F96FF;
    border: 1em solid #52142e;
    border-radius: 20px;
    background-color:#52142e;
}
.boton{
    color: rgb(61, 22, 61);
    -webkit-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    cursor: pointer;
    font-size: 2em;
    border: 1em solid #E56399;
    border-radius: 25px;
    background-color:#E56399;
}

.escondido{
    display: none;
}
main{
    background-color: rgb(255, 255, 246);
}
fieldset{
    background-color: rgb(255, 255, 246);
    padding:0px;
    margin: 0;
    height:100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    flex-direction:column;
    
}
.cajaPregunta{
    display:flex;
    justify-content:center;
    align-content: center;
    margin:auto;
    margin:0;
    height:20vh;
    width:100%;
    
}
label, .ficha{
    font-weight: bolder;
    cursor: pointer;
    
}
.ficha{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display:flex;
    justify-content:center;
    align-content: center;
    margin:auto;
    margin:0;
    height:20vh;
    width:100%;
    -webkit-box-shadow: -10px 0px 13px -7px #5a5a5a, 10px 0px 13px -7px #5a5a5a, 7px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #5a5a5a, 10px 0px 13px -7px #5a5a5a, 7px 5px 15px 5px rgba(0,0,0,0);
    
}

h3{
    color: rgb(61, 22, 61);
    text-align:center;
    margin:auto;
    font-size: 1.5em;

}
input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid rgba(0, 128, 0, 0);
    border-radius: 50%;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  :root {
    --form-control-color: #52142e
  }
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #52142e;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  input[type="radio"]:focus {
    border: 0.15em solid #52142e;
    outline: max(2px, 0.15em) solid #52142e;
    outline-offset: max(2px, 0.15em);
  }
/* input{
    appearance: none;
    visibility: hidden;
    
}
 */
label{
    color: rgb(90, 0, 90);
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin:auto;
    text-align:center;
    font-size:1.5em; 
    height:100%;
    
    
}


.contenedor div:nth-child(1){
    background-color:#A6CFD5
}
.contenedor div:nth-child(2){
    background-color:#E56399;
}
.contenedor div:nth-child(3){
    background-color:#7F96FF
}
.contenedor div:nth-child(4){
    background-color:#DBFCFF
}

#buttonContainer{
    display:flex;
    width:100%;
    height:auto;
}

#enviar{
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    color: #c7f8ff;
    background-color: rgb(90, 0, 90);
    padding:5px;
    margin:auto;
    padding:20px;
}

@media only screen and (min-width: 768px) {
    main{
        padding: 7%;
    }
    fieldset{
        height: 100vh;
        display:block;
        /*border:2px solid red;*/
    }
    .cajaPregunta{
        margin: 0;
    }
    .ficha{
        margin:30px 0;
        width:48%;
    }
    .column{
        width: 50%;
        margin: 0 3%;
        display: flex;
        flex-direction: column;
        border:2px solid black;
    }
    .contenedor{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        /*border:2px solid gray;*/
    }
    .ficha:hover{
        border-radius: 20px;
    }
    
}


@media only screen and (min-width: 1366px) {
    main{
        padding: 7%;
    }
    .column{
        display: flex;
        flex-direction: column;
        margin: 0 3%;
    }
    .contenedor{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        
    }
    .ficha:hover{
        border-radius: 20px;
    }
}